    .sidebar-left .img-Liga_1_Romania {
     background-image:url(../Content/images/supercategory/Liga_1_Romania_sidemenu.png);
     min-width: 133px;
     min-height: 26px;
     background-repeat: no-repeat;
    background-position:0px;
    margin-left:10px;
    }
    .sidebar-left .img-Liga_1_Romania span{
    display:none;
        }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .sidebar-left .img-Liga_1_Romania {
     background-image:url(../Content/images/supercategory/Liga_1_Romania_sidemenu_2x.png);
     min-width: 132px;
     min-height: 26px;
    background-position:0px;
    margin-left:10px;
     background-repeat: no-repeat;
     background-size: 132px 26px;
    }
    .sidebar-left .img-Liga_1_Romania span{
    display:none;
        }
    }
    .sidebar-left .img-EL_Final_Four {
     background-image:url(../Content/images/supercategory/EL_Final_Four_sidemenu.png);
     min-width: 111px;
     min-height: 21px;
     background-repeat: no-repeat;
    background-position:0px;
    margin-left:10px;
    }
    .sidebar-left .img-EL_Final_Four span{
    display:none;
        }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .sidebar-left .img-EL_Final_Four {
     background-image:url(../Content/images/supercategory/EL_Final_Four_sidemenu_2x.png);
     min-width: 111px;
     min-height: 21px;
    background-position:0px;
    margin-left:10px;
     background-repeat: no-repeat;
     background-size: 111px 21px;
    }
    .sidebar-left .img-EL_Final_Four span{
    display:none;
        }
    }
    .sidebar-left .img-UEFA_EL {
     background-image:url(../Content/images/supercategory/UEFA_EL_sidemenu.png);
     min-width: 127px;
     min-height: 25px;
     background-repeat: no-repeat;
    background-position:0px;
    margin-left:10px;
    }
    .sidebar-left .img-UEFA_EL span{
    display:none;
        }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .sidebar-left .img-UEFA_EL {
     background-image:url(../Content/images/supercategory/UEFA_EL_sidemenu_2x.png);
     min-width: 132px;
     min-height: 26px;
    background-position:0px;
    margin-left:10px;
     background-repeat: no-repeat;
     background-size: 132px 26px;
    }
    .sidebar-left .img-UEFA_EL span{
    display:none;
        }
    }
    .sidebar-left .img-UEFA_CL_2017 {
     background-image:url(../Content/images/supercategory/UEFA_CL_2017_sidemenu.png);
     min-width: 133px;
     min-height: 26px;
     background-repeat: no-repeat;
    background-position:0px;
    margin-left:10px;
    }
    .sidebar-left .img-UEFA_CL_2017 span{
    display:none;
        }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .sidebar-left .img-UEFA_CL_2017 {
     background-image:url(../Content/images/supercategory/UEFA_CL_2017_sidemenu_2x.png);
     min-width: 132px;
     min-height: 26px;
    background-position:0px;
    margin-left:10px;
     background-repeat: no-repeat;
     background-size: 132px 26px;
    }
    .sidebar-left .img-UEFA_CL_2017 span{
    display:none;
        }
    }
    .header-menu > ul > li {
    vertical-align:top;
    }
